.secondary-title {
  font-family: var(--titleFont);
  display: flex;
  justify-content: center;
}
.legalMentions-text {
  font-family: var(--textFont);
  margin: 1rem 0 1rem 0;
  padding: 1rem;
}
