* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Assure un calcul cohérent des dimensions */
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden; /* Empêche le défilement horizontal */
  font-family: Arial, sans-serif; /* Police par défaut */
  background-color: #f4f4f4; /* Couleur de fond (modifiable) */
}
