.secondary-title {
  font-family: var(--titleFont);
  padding: calc(var(--spacing) * 1.5);
  color: var(--primaryColor);
  text-align: center;
}
.secondary-title::after {
  content: "";
  display: block;
  margin-top: calc(var(--spacing) * 0.5);
  width: 10%;
  border-top: 3px solid var(--primaryColor);
  margin-left: auto;
  margin-right: auto;
}

.legalMentions-text-privacy-p {
  font-family: var(--textFont);
  padding: 2rem;
}
