@import url("../../App.css");

.garbageButton {
  background-color: var(--secondaryColor);
  border: none;
}

.title-cart {
  font-family: var(--titleFont);
  color: var(--primaryColor);
  text-align: center;
}
