.cart-img {
  width: 1.5rem;
}

.user-navbar ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 0.8rem;
  list-style-type: none;
}

.link-cart,
.link-account {
  list-style-type: none;
  text-decoration: none;
  color: var(--primaryColor);
  padding: 0.5rem;
}

.link-account {
  white-space: nowrap;
}

@media screen and (min-width: 768px) {
  .link-account {
    font-size: 1vw;
  }
  .cart-img {
    width: 2rem;
  }
}
