@import url("../../App.css");
.imageContainer {
  width: 100%;
}
.cardCarousel {
  overflow: hidden;
}
.mySwiper {
  width: 100%;
  cursor: pointer;
}
.caption {
  font-size: 1.5rem;
  color: var(--primaryColor);
  font-family: var(--titleFont);
  padding-top: var(--spacing-xs);
  margin: var(--spacing-xs);
}
.mySwiper .swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.swiperImg img {
  width: 260px;
  height: 260px;
  object-fit: cover;
  border-top-left-radius: var(--borderRadius);
  border-top-right-radius: var(--borderRadius);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.mySwiper .crlImgContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: var(--border-solid);
  border-radius: var(--borderRadius);
  box-shadow: var(--lightBowShadow);
  background-color: var(--secondaryColor);
}
.mySwiper .swiper-pagination {
  position: relative;
  bottom: var(--spacing-md);
  left: 50%;
  transform: translate3d(0, 0, 0);
  z-index: 10;
  gap: 5px;
  padding-top: var(--spacing-md);
}

.mySwiper .swiper-pagination-bullet {
  background-color: var(--successColor);
  opacity: 1;
}

.mySwiper .swiper-pagination-bullet-active {
  background-color: var(--primaryColor);
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .imageContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    cursor: pointer;
  }
  .cardCarousel {
    display: inline-block;
    text-align: center;
    position: relative;
    border: var(--border-solid);
    border-radius: var(--borderRadius);
    box-shadow: var(--lightBowShadow);
    margin: 10px;
    width: 260px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  .imgCarousel {
    width: 100%;
    height: 260px;
    object-fit: cover;
    border-top-left-radius: var(--borderRadius);
    border-top-right-radius: var(--borderRadius);
  }
  .cardCarousel:hover {
    transform: scale(1.1);
    box-shadow: var(--mediumBoxShadow);
  }
  .cardCarousel figcaption {
    font-size: 1.5rem;
    color: var(--pink);
    margin-top: var(--spacing-xs);
    font-family: var(--titleFont);
    padding-bottom: var(--spacing-xs);
  }
}
