@import url("../../App.css");


.hello {
    font-family: var(--titleFont);
    color: var(--primaryColor);
    font-size:xx-large;
}
.hello::after {
    content: "";
    display: block;
    margin-top: 0.5rem;
    width: 10%;
    border-top: 3px solid var(--primaryColor);
    margin-left: auto;
    margin-right: auto;
  }
.onceConnected {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--spacing);
}
.myOrders .myLikes {
    font-family: var(--textFont);
    color: var(--textColor);
} 
.btnDisconnection {
  background-color: var(--textColor);
  border: none;
  padding: 1rem;
  border-radius: 1rem;
  color: var(--secondaryColor);
  cursor: pointer;
}
.btnDisconnection:hover {
    background-color: var(--primaryColor);
}
  
.btnDisconnection:active {
    background-color: var(--primaryColor);
}
.firstPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing);
}
.titleAccount {
    font-family: var(--titleFont);
    color: var(--primaryColor);
    font-size:xx-large;
}
.titleAccount::after {
    content: "";
    display: block;
    margin-top: 0.5rem;
    width: 10%;
    border-top: 3px solid var(--primaryColor);
    margin-left: auto;
    margin-right: auto;
  }
.inscription {
    font-family: var(--textFont);
    color: var(--textColor);
    text-decoration: none;
}
.inscription:hover {
    color: var(--primaryColor);
    text-decoration: underline;
    text-decoration-color: var(--primaryColor);
  }